version: "3"
services:
  app:
    depends_on:
      - collabora
  collabora:
    image: collabora/code:${X_COLLABORA_IMAGE_TAG:-24.04.2.1.1}
    environment:
      extra_params: "--o:ssl.enable=false"
  nginx:
    ports:
      - 80:80
